/PracticaLogicaNodoTexto/build/
/PracticaLogicaNodoTexto/dist/
/PracticaLogicaNodoTexto/nbproject/private/
/TextoListasLigadas/build/
/TextoListasLigadas/dist/
/Practica1Logica3NodoTexto/nbproject/private/
/Practica1Logica3NodoTexto/build/
/Practica1Logica3NodoTexto/dist/